<section class="about section" id="about">
    <h2 class="section__title">About me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <!--img src="/assets/img/about.jpg" alt="" class="about__img"-->
        <div class="about__data">
            <p class="about__description">Software Engineer specialized in the development of integrations and extensions for enterprise systems. 
                I am certified as Oracle Database PL/SQL Certified Professional and Oracle Certified Associate Java SE 8 Programmer.</p>
            
            <!--div class="about__info">
                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Years <br> experience</span>
                </div>
                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Completed <br> projects</span>
                </div>
                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Companies <br> worked</span>
                </div>
            </div-->

            <div class="about__buttons">
                <a download="" href="/assets/pdf/ResumeLeonardoManrique.pdf" class="button button--flex">
                    Download CV<i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>