<main class="main">
    <!--==================== HOME ====================-->
    <app-home></app-home>

    <!--==================== ABOUT ====================-->
    <app-about></app-about>

    <!--==================== SERVICES ====================-->
    <app-services></app-services>

    <!--==================== QUALIFICATION ====================-->
    <app-qualification></app-qualification>

    <!--==================== PORTFOLIO ====================-->
    <!--section class="portfolio section" id="portfolio">
        

    </section-->

    <!--==================== PROJECT IN MIND ====================-->
    <!--section class="project section">


    </section-->

    <!--==================== TESTIMONIAL ====================-->
    <!--section class="testimonial section">
        

    </section-->

    <!--==================== CONTACT ME ====================-->
    <!--section class="contact section" id="contact">


    </section-->
</main>