<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="">
        
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="/assets/css/styles.css">

        <title>Leonardo Manrique</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <app-header></app-header>

        <!--==================== MAIN ====================-->
        <app-main></app-main>

        <!--==================== FOOTER ====================-->
        <!--footer class="footer">

            
        </footer-->
        
        <!--==================== SCROLL TOP ====================-->
        

        <!--==================== SWIPER JS ====================-->
        <script src=""></script>

        <!--==================== MAIN JS ====================-->
        <script src="/assets/js/main.js"></script>
    </body>
</html>