<section class="qualification section"  id="qualification">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target='#work'>
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work experience
            </div>
            <div class="qualification__button button--flex" data-target='#education'>
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>
        </div>

        <div class="qualification__sections">
            <!--==================== WORK EXPERIENCE ====================-->
            <div class="qualification__content  qualification__active" data-content id="work">
                <div *ngFor="let work of qualifications.work" class="qualification__data qualification__{{ work.position }}">
                    <!-- For left-aligned content -->
                    <ng-container *ngIf="work.position === 'left'">
                      <div>
                        <h3 class="qualification__title">{{ work.title }}</h3>
                        <span class="qualification__subtitle">{{ work.subtitle }}</span>
                        <div class="qualification__calendar">
                          <i class="uil uil-calendar-alt"></i>
                          {{ work.date }}
                        </div>
                      </div>
                      <div>
                        <span class="qualification__rounder"></span>
                        <span
                          class="qualification__line"
                          *ngIf="work !== qualifications.work[qualifications.work.length - 1]"
                        ></span>
                      </div>
                    </ng-container>
                  
                    <!-- For right-aligned content -->
                    <ng-container *ngIf="work.position === 'right'">
                      <div></div>
                      <div>
                        <span class="qualification__rounder"></span>
                        <span
                          class="qualification__line"
                          *ngIf="work !== qualifications.work[qualifications.work.length - 1]"
                        ></span>
                      </div>
                      <div>
                        <h3 class="qualification__title">{{ work.title }}</h3>
                        <span class="qualification__subtitle">{{ work.subtitle }}</span>
                        <div class="qualification__calendar">
                          <i class="uil uil-calendar-alt"></i>
                          {{ work.date }}
                        </div>
                      </div>
                    </ng-container>
                  </div>
            </div>
            <!--==================== EDUCATION ====================-->
            <div class="qualification__content" data-content id="education">
                <div *ngFor="let edu of qualifications.education" class="qualification__data qualification__{{ edu.position }}">
                  <!-- For left-aligned content -->
                  <ng-container *ngIf="edu.position === 'left'">
                    <div>
                      <h3 class="qualification__title">{{ edu.title }}</h3>
                      <span class="qualification__subtitle">{{ edu.subtitle }}</span>
                      <div class="qualification__calendar">
                        <i class="uil uil-calendar-alt"></i>
                        {{ edu.date }}
                      </div>
                    </div>
                    <div>
                      <span class="qualification__rounder"></span>
                      <span
                        class="qualification__line"
                        *ngIf="edu !== qualifications.education[qualifications.education.length - 1]"
                      ></span>
                    </div>
                  </ng-container>
        
                  <!-- For right-aligned content -->
                  <ng-container *ngIf="edu.position === 'right'">
                    <div></div>
                    <div>
                      <span class="qualification__rounder"></span>
                      <span
                        class="qualification__line"
                        *ngIf="edu !== qualifications.education[qualifications.education.length - 1]"
                      ></span>
                    </div>
                    <div>
                      <h3 class="qualification__title">{{ edu.title }}</h3>
                      <span class="qualification__subtitle">{{ edu.subtitle }}</span>
                      <div class="qualification__calendar">
                        <i class="uil uil-calendar-alt"></i>
                        {{ edu.date }}
                      </div>
                    </div>
                  </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>