<section class="qualification section"  id="qualification">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target='#work'>
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work experience
            </div>
            <div class="qualification__button button--flex" data-target='#education'>
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>
        </div>

        <div class="qualification__sections">
            <!--==================== WORK EXPERIENCE ====================-->
            <div class="qualification__content  qualification__active" data-content id="work">
                <div class="qualification__data qualification__left">
                    <div>
                        <h3 class="qualification__title">Backend Developer</h3>
                        <span class="qualification__subtitle">Amaris Consulting</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Sep '21 - Present
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <div class="qualification__data  qualification__right">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <h3 class="qualification__title">Backend Engineer</h3>
                        <span class="qualification__subtitle">Proactivity - Italy</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            May '21 - Aug '21
                        </div>
                    </div>
                </div>
                <div class="qualification__data  qualification__left">
                    <div>
                        <h3 class="qualification__title">Technical Consultant</h3>
                        <span class="qualification__subtitle">Evol - Peru</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Aug '20 - May '21
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <div class="qualification__data  qualification__right">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <h3 class="qualification__title">Oracle Developer</h3>
                        <span class="qualification__subtitle">AEX-IT - Peru</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            May '18 - Jul '20
                        </div>
                    </div>
                </div>
                <div class="qualification__data  qualification__left">
                    <div>
                        <h3 class="qualification__title">Oracle Consultant</h3>
                        <span class="qualification__subtitle">Solusage - Peru</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jul '17 - Feb '18
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <!--span class="qualification__line"></span-->
                    </div>
                </div>
            </div>
            <!--==================== EDUCATION ====================-->
            <div class="qualification__content" data-content id="education">
                <div class="qualification__data  qualification__left">
                    <div>
                        <h3 class="qualification__title">Computer Engineering</h3>
                        <span class="qualification__subtitle">Universidad San Ignacio de Loyola</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2015 - 2020
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <div class="qualification__data  qualification__right">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <!--span class="qualification__line"></span-->
                    </div>
                    <div>
                        <h3 class="qualification__title">International Business</h3>
                        <span class="qualification__subtitle">San Ignacio University</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2015 - 2021
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>